@charset "UTF-8"; 
@import 'var.scss';

/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .head-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 2rem;
        /*로고*/
        h1 {
            a {
                img {
                    max-width: 8rem;
                }
            }
        }
        /* gnb */
        .gnb {
            ul {
                display: flex;
                align-items: center;
                gap: 2rem;
                li {
                    a {
                        font-size: 2.4rem;
                        font-weight: 700;
                    }
                }
            }
        }
        /*util list*/
        .util-list {
            display: none;
        }
    }
}

/*top btn*/
.top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: transform 0.3s;
}