@charset "UTF-8";
/*header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .head-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2rem 4rem;
  /*로고*/
  /*ham-btn*/
}
header .head-inner h1 a img {
  max-width: 8rem;
}

/*top btn*/
.top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/*util-wrap*/
.util-wrap {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}
.util-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}
.util-wrap ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.6rem;
  height: 3.6rem;
  border: 2px solid #000;
  border-radius: 50%;
}
.util-wrap ul li a img {
  max-width: 100%;
}
.util-wrap ul li:nth-child(2) a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.util-wrap ul li:nth-child(2) a img {
  width: 84%;
}
.util-wrap ul li:nth-child(3) a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.util-wrap ul li:nth-child(3) a img {
  width: 96%;
}

/*main contents*/
main section {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
main #intro {
  background: url(./../images/common/intro_bg.svg) no-repeat center center;
}
main #intro ul {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
main #intro ul li strong {
  font-size: 3.4rem;
  white-space: nowrap;
}