@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  font-style: normal;
  src: url("./../font/nanum-square/NanumSquareEB.ttf") format("truetype"), url("./../font/nanum-square/NanumSquareEB.otf") format("opentype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  font-style: normal;
  src: url("./../font/nanum-square/NanumSquareB.ttf") format("truetype"), url("./../font/nanum-square/NanumSquareB.otf") format("opentype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-style: normal;
  src: url("./../font/nanum-square/NanumSquareR.ttf") format("truetype"), url("./../font/nanum-square/NanumSquareR.otf") format("opentype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  font-style: normal;
  src: url("./../font/nanum-square/NanumSquareL.ttf") format("truetype"), url("./../font/nanum-square/NanumSquareL.otf") format("opentype");
}
html {
  font-size: 10px;
}

* {
  font-family: "NanumSquare";
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
  color: #000;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  image-rendering: -webkit-optimize-contrast;
}

caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  top: 0;
  left: -9999999px;
}
caption p {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  top: 0;
  left: -9999999px;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}

fieldset {
  border: 0;
}

address {
  font-style: normal;
}

li, ul, dl {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  position: absolute;
  left: -9999999px;
  top: 0;
}

header .head-inner h1 {
  position: fixed;
  top: 2rem;
  left: 2rem;
}

footer .util-wrap {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}
footer .util-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6rem;
}
footer .util-wrap ul li a {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.6rem 0.6rem 0.4rem;
  text-align: center;
  border: 2px solid #000;
  border-radius: 50%;
}
footer .util-wrap ul li a img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
footer .top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

main section {
  display: block;
  width: 100%;
  min-height: 100vh;
}
main section#about .sec-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 144rem;
  height: 100%;
  margin: 0 auto;
}