.loading {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeout 0.5s 3s forwards;
    .inner {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        .img-wrap {
            img {
                width: 10vw;
            }
        }
        .txt-wrap {
            text-align: center;
            margin-top: 4rem;
            span {
                display: inline-block;
                margin: 0 5px;
                font-family: 'Quattrocento Sans', sans-serif;
                @for $i from 0 through 6 {
                  &:nth-child(#{$i + 1}) {
                    filter: blur(0px);
                    animation: blur-text 1.2s (#{$i/5})+s infinite linear alternate;
                  }
                }
            }
        }
    }
}

@keyframes blur-text {
    0% {filter: blur(0px);}
    100% {filter: blur(4px);}
  }
@keyframes fadeout {
    0% {opacity: 1; z-index: 1;}
    100% {opacity: 0; z-index: -1;}
  }