@charset "UTF-8"; 


/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .head-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 2rem 4rem;
        /*로고*/
        h1 {
            a {
                img {
                    max-width: 8rem;
                }
            }
        }
        /*ham-btn*/
        // .ham-btn {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     width: 20px;
        //     height: 11px;
        //     span {
        //         display: block;
        //         width: 100%;
        //         height: 1px;
        //         background-color: #222222;
        //     }
        // }
    }
}

/*top btn*/
.top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: transform 0.3s;
}

/*util-wrap*/
.util-wrap {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    ul {
        display: flex;
        gap: 0.6rem;
        li {
            a {
                display: flex;
                width: 3.6rem;
                height: 3.6rem;
                border: 2px solid #000;
                border-radius: 50%;
                img {
                    max-width: 100%;
                }
            }
            &:nth-child(2) {
                a {
                    justify-content: flex-end;
                    align-items: flex-end;
                    img {
                        width: 84%;
                    }
                }
            }
            &:nth-child(3) {
                a {
                    justify-content: center;
                    img {
                        width: 96%;
                    }
                }
            }
        }
    }
}

/*main contents*/
main {
    section {
        width: 100%;
        min-height: 100vh;
        position: relative;
    }
    #intro {
        background: url(./../images/common/intro_bg.svg) no-repeat center center;
        ul {
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            li {
                strong {
                    font-size:3.4rem;
                    white-space: nowrap;
                }
            }
        }
    }
}